    body {
        margin: 0;
        padding: 0;
    }

    nav {
        margin: 0;
        background-color: #1A1A2E;
    }

    nav h1 {
        margin: 0;
        padding-top: 30px;
        padding-bottom: 10px;
        text-align: center;
        color: white;
        font-size: 60px;
    }

    nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    nav ul li {
        display: inline-block;
        margin-right: 25px;
    }

    a:link {
        color: white;
        font-size: 20px;
    }

    a:hover {
        color: brown;
    }
