    body {
        margin: 0;
        padding: 0;
        background-color: #80BCBD;
    }

    @font-face {
        font-family: 'gunplay';
        src: url(fonts/gunplayrg.ttf);
    }


    nav {
        margin: 0;
        background-color: #92C7CF;
    }

    nav h1 {
        margin: 0;
        padding-top: 30px;
        padding-bottom: 10px;
        text-align: center;
        color: white;
        font-size: 60px;
        font-family: 'gunplay';
    }

    .mainbtn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 5rem;
        padding-top: 10px;
        padding-bottom: 10px;

        .startbtn {
            display: flex;
            justify-content: center;
            width: 60px;
            border: solid;
            border-radius: 10px;
            border-color: #AAD7D9;
            border-width: 5px;
            transition: transform 0.2s, box-shadow 0.5s;
            background-color: #FBF9F1;
        }

        .startbtn:hover {
            transform: translateY(-10px);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
            background-color: burlywood;
        }

        .startbtn:active {
            transform: translateY(2px);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
        }
    }